@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #ff9f1c;
  text-align: center;
}
h1 {
  color: #ffffffcc;
  font-size: 50px;
  text-align: center;
  padding: 20px;
  margin: 0 60px;
  border-bottom: 5px solid #ffbf69;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  color: black;
  background-color: #ffbf69;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 10vmin;
}
#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #ffbf69;
  border: 2px solid #cc7700;
  border-radius: 1rem;
  cursor: pointer;
}
#msg {
  color: rgba(0, 0, 0, 0.856);
  font-size: 10vmin;
  margin-top: 3rem;
}
.msg-container {
  height: 40vmin;
  margin: 10rem 30rem;
  background-color: #ffbf69;
  border-radius: 1rem;
}
#newgame-btn {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.25rem;
  color: #ffbf69;
  background-color: #cc7700;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.hidden {
  display: none;
}
